<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title>Welcome, <%= user.username %>!</title>
  </head>
  <body>

    <header class="navbar navbar-default navbar-fixed-top">
        <%- include('partials/header') %>
    </header>

    <div class="container mt-5">
        <h1>Welcome, <%= user.username %>!</h1>
        <p>This is your dashboard where you can view your profile, manage your settings, and more.</p>

        <!-- Aquí puedes añadir más secciones de usuario, como estadísticas, posts, configuraciones, etc. -->

        <!-- Botón para cerrar sesión -->
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-danger">Log Out</button>
        </form>
    </div>

    <footer class="footer">
        <%- include('partials/footer') %>
    </footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
  </body>
</html>
